.drop-container-wrapper {
  display: flex;
}

.drop-container {
  margin-right: 1rem;
  height: 50px;
  width: 150px;
  border: 1px solid black;
  border-radius: 5px;
  justify-content: center;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.75rem;
  &.dropdone {
    color: blue;
  }
}

[draggable] {
  font-size: 0.75rem;
}

.actions-wrapper {
  max-height: 100px;
  overflow: auto;
  border: 1px solid gray;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 5px;
}
