<h1>ngx-dragdrop</h1>
<section class="p2">A minimalistic angular (2+) library for Drag and Drop using native HTML5 Drag and Drop.
</section>
<section class="p2">
  Compatibility
  <table class="table">
    <thead>
    <tr>
      <th>Angular version</th>
      <th>ngx-dragdrop version</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>7.x</td>
      <td>^6.0.0</td>
    </tr>
    <tr>
      <td>6.x</td>
      <td>^6.0.0</td>
    </tr>
    <tr>
      <td>5.x</td>
      <td>1.0.1</td>
    </tr>
    <tr>
      <td>4.x</td>
      <td>1.0.1</td>
    </tr>
    <tr>
      <td>2.x</td>
      <td>0.0.1</td>
    </tr>
    </tbody>
  </table>
</section>
