<h1>
  Grouped Drag and Drop
</h1>
<section class="p2">
  <p>
    To create groups of draggable and their respective droppable container use the <b>ngxDragTag</b> and
    <b>ngxDropTags</b> directives</p>
  <p>
    <b>ngxDragTag</b> assigns the given name to the <b>ngxDraggable</b> element and is only droppable on
    <b>ngxDroppable</b> elements which have the same name in its list of <b>ngxDropTags</b>
  </p>
  <hr>
  <div class="wrapper">
    <div class="characters-container"
         (ngxDroppable)="onDrop($event)"
         [ngxDropData]="'all'"
         [ngxDropTags]="['friends', 'got']">
      <div class="char-group-header">All Characters</div>
      <div>[ngxDropTags]="['friends', 'got']"</div>
      <div class="card character"
           *ngFor="let char of characters;"
           [ngxDraggable]="true"
           [ngxDraggedClass]="'dragged'"
           [ngxDragData]="{char:char,container:'all'}"
           [ngxDragTag]="char.series">{{char.name}} [ngxDragTag]="'{{char.series}}'"
      </div>
    </div>
    <div class="characters-container"
         (ngxDroppable)="onDrop($event)"
         [ngxDropData]="'got'"
         [ngxDropTags]="['got']">
      <div class="char-group-header">Game of Thrones Characters</div>
      <div>[ngxDropTags]="['got']"</div>
      <div class="card character"
           *ngFor="let char of gotChars;"
           [ngxDraggable]="true"
           [ngxDraggedClass]="'dragged'"
           [ngxDragData]="{char:char,container:'got'}"
           [ngxDragTag]="char.series">{{char.name}} [ngxDragTag]="'{{char.series}}'"
      </div>
    </div>
    <div class="characters-container"
         (ngxDroppable)="onDrop($event)"
         [ngxDropData]="'friends'"
         [ngxDropTags]="['friends']">
      <div class="char-group-header">Friends Characters</div>
      <div>[ngxDropTags]="['friends']"</div>
      <div class="card character"
           *ngFor="let char of friendsChars;"
           [ngxDraggable]="true"
           [ngxDraggedClass]="'dragged'"
           [ngxDragData]="{char:char,container:'friends'}"
           [ngxDragTag]="char.series">{{char.name}} [ngxDragTag]="'{{char.series}}'"
      </div>
    </div>
  </div>

</section>
